<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>FUTO Keyboard for Sailfish OS</vendor>
  <action id="org.hb.futo.keyboard.saved-login">
    <description>Use a saved FUTO login</description>
    <message>Unlock the selected saved login</message>
    <defaults>
      <allow_any>auth_self</allow_any>
      <allow_inactive>auth_self</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
  <action id="org.hb.futo.keyboard.save-login">
    <description>Save a login in FUTO Keyboard</description>
    <message>Save this login in FUTO Keyboard</message>
    <defaults>
      <allow_any>auth_self</allow_any>
      <allow_inactive>auth_self</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
</policyconfig>
